@font-face {
  font-family: 'iconfont';  /* project id 1954336 */
  src: url('https://at.alicdn.com/t/font_1954336_cbgj3ewcsnt.eot');
  src: url('https://at.alicdn.com/t/font_1954336_cbgj3ewcsnt.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1954336_cbgj3ewcsnt.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1954336_cbgj3ewcsnt.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1954336_cbgj3ewcsnt.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1954336_cbgj3ewcsnt.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_love:before {
  content: "\e623";
}

.icon-user:before {
  content: "\e610";
}

.icon-user1:before {
  content: "\e600";
}

.icon-shouye:before {
  content: "\e601";
}

.icon-shouye1:before {
  content: "\e602";
}

